
{% extends 'base.html.twig' %}

{% block title %}show_name{% endblock %}

{% block body %}



    <form action="{{ path('show_name') }}" method="post">
        <label for="name">name:</label><br>
        <input type="text" id="name" name="name"><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}

